html,
body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

/* Navbar section */
.navbar-brand {
  font-family: Roboto, sans-serif;
}

ul > li > a {
  color: #fff !important;
}

/* Header section */
#header {
  background: url('https://i.imgur.com/ZKYKj4k.jpg') center center / cover no-repeat;
  background-color: rgba(1, 106, 189, 0.6);
  height: 100vh;
}

.rounded-circle {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 5px solid rgba(255, 255, 255, 0.7);
}

/* Pro-card */
.pro-card {
  background-color: rgba(1, 115, 244, .4);
  box-shadow: 0 .5em .5em 0 rgba(0, 0, 0, 0.2);
  margin: 6em auto;
}

/* Scroll down arrow key */
.scroll a {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: opacity .3s;
}

.scroll a:hover {
  opacity: .5;
}

#scroll-down a {
  padding-top: 80px;
}

#scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: scroll 2s infinite;
          animation: scroll 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* About section */
#about {
  background-color: rgba(255, 255, 255, 0.6);
}

.skill-img {
  margin: .2em;
}

.col-md-7 {
  border-right: 1px solid gray;
}

.col-md-5 {
  padding-top: 3em;
}

/* Portfolio section */
#portfolio {
  background-color: #0f9875;
}

.card {
  max-width: 20rem;
  margin: 1em auto;
}

.card a:hover {
  text-decoration: none;
}

.project-1 {
  background-image: linear-gradient(to bottom, #1ff, #00f);
}

.project-2 {
  background-image: linear-gradient(to bottom, #1aa, #fff);
}

.project-3 {
  background-image: linear-gradient(to bottom, #fcd, #81a);
}

.project-4 {
  background-image: linear-gradient(to bottom, #1ff, #697);
}

.project-5 {
  background-image: linear-gradient(to bottom, #1ff, #00f);
}

.project-6 {
  background-image: linear-gradient(to bottom, #1aa, #fff);
}

.project-7 {
  background-image: linear-gradient(to bottom, #fcd, #81a);
}

.project-8 {
  background-image: linear-gradient(to bottom, #1aa, #fff);
}

.project-9 {
  background-image: linear-gradient(to bottom, #1ff, #00f);
}

/* Freelance section */
#freelance {
  background-color: #00bcd4;
  height: 50vh;
}

#freelance .container {
  padding-top: 3.5em;
}

/* Blog section */
#blog {
  background-color: #697;
}

/* Contact */
#contact {
  background-color: rgba(1, 106, 189, 0.6);
  height: 100vh;
}

#contact .container {
  max-width: 70vw;
}

/* Footer section */
#footer {
}

#footer ul {
  list-style: none;
}

/* Scroll to top */
#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 1.5em;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  coursor: pointer;
  padding: .5em;
  border-radius: 10%;
}

#scroll-to-top:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Media Queries */
/* For Landescape / Tablet device */
  @media all and (max-width: 800px) {
  body {
    font-size: 1em;
  }

  .col-md-7 {
    border-right: 0;
  }

  .col-md-5 {
    padding-top: .5em;
  }

  #freelance,
  #contact {
    height: 100%;
  }

  #hire-me {
    margin-bottom: 1em;
  }
  
  .social {
    margin-bottom: 1em;
  }
    
  #scroll-to-top {
    padding: .3em;
  }
}

/* For Mobile device */
@media all and (max-width: 500px) {
  h4 {
    font-size: .8em;
  }

  h1 {
    font-size: 1.5em;
  }

  #scroll-down a {
    padding-top: 3em;
  }

  .card {
    margin-bottom: 1em;
  }
  
  .skill-img {
    width: 4em;
    height: 4em;
    margin: 0 auto;
    padding: 0.3em;
  }
  
  .card .btn-success {
    font-size: 0.9em;
  }

  #contact .container {
    max-width: 100%;
  }
  
  .social {
    margin-bottom: 2em;
  }
}

/* For Extra small mobile device */
@media all and (max-width: 380px) {

}