@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap");

/* ------------ VARIABLES ----------- */
:root {
  --header-height: 3rem;
  --font-weight: 500;

  /* COLORS */
  --primary-color: #2bc6f5;
  --primary-gradient-color: #34f865;
  --secondary-color: #130f40;
  /* FONT & SIZES */
  --body-font: "Poppins", sans-serif;
  --large-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --primary-font-size: 0.938rem;

  /* MARGINS */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /* Z-INDEX */
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ------- MEDIA QUERIES --------- */
@media screen and (min-width: 768px) {
  :root {
    --large-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --primary-font-size: 1rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--primary-font-size);
  color: var(--secondary-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--primary-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--primary-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* ---------- LAYOUT --------- */

.bd-grid {
  max-width: 1024px;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.primary-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-weight);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--secondary-color);
    transition: 0.5s;
  }
}

/* ------- NAV ------- */
.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--primary-color);
}

.nav__logo {
  color: var(--primary-color);
}

.nav__toggle {
  color: var(--secondary-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--primary-color);
}

/* SHOW MENU */

.show {
  right: 0;
}

/* HOME */

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home__data {
  align-self: center;
}
.home__title {
  font-size: var(--large-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--primary-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.home__social-icon:hover {
  color: var(--primary-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 350px;
}

/* BUTTON */

.button {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--primary-gradient-color),
    var(--primary-color)
  );
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-weight);
  border-radius: 0.5rem;
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.button-link {
  background: none;
  color: var(--primary-color);
  padding: 0;
  display: block;
  margin: var(--mb-2) 0;
}

.button-link:hover {
  background: none;
  box-shadow: none;
  color: var(--primary-gradient-color);
}

/* ABOUT SECTION */

.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 300px;
}

.about__email-link {
  color: var(--primary-color);
}

.about__email-link:hover {
  color: var(--primary-gradient-color);
}
/* SKILLS */

.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-3);
  color: var(--primary-color);
}

.skills__name {
  display: inline-block;
  font-size: var(--primary-font-size);
  margin-right: var(--mb-2);
  margin-bottom: var(--mb-3);
  padding: 0.25rem 0.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
}

.skills__name:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.skills__img img {
  border-radius: 0.5rem;
}

/* PROJECT */

.project__content {
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(129, 129, 129, 0.3);
}

.project__content:hover {
  box-shadow: 0 6px 8px rgba(129, 129, 129, 0.4);
}

.project__img {
  width: 100%;
}

.project__data {
  padding: 1.5rem;
}

.project__title {
  font-size: var(--h2-font-size);
  color: var(--primary-color);
  margin: var(--mb-2) 0;
}

.project__title:hover {
  color: var(--primary-gradient-color);
}

.project__subtitle {
  font-size: var(--primary-font-size);
  color: var(--secondary-color);
}

/* ILLUSTRATIONS */

.illustration__container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* CONTACT */

.contact__input {
  width: 100%;
  font-size: var(--primary-font-size);
  font-weight: var(--font-weight);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--secondary-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--primary-font-size);
  cursor: pointer;
  margin-left: auto;
  font-size: var(--primary-font-size);
  font-weight: var(--font-weight);
}

/* FOOTER */

.footer {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-weight);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__icon:hover {
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav__list {
    display: flex;
    padding-top: 0;
  }

  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav__link {
    color: var(--secondary-color);
  }

  .home {
    height: 100vh;
  }

  .home__data {
    align-self: flex-end;
  }

  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home__img {
    width: 425px;
    bottom: 5%;
  }

  .about__container,
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }

  .about__img img {
    width: 500px;
  }

  .project__container {
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    column-gap: 2rem;
  }

  .illustration__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  .contact__form {
    width: 360px;
    margin-bottom: var(--mb-6);
  }

  .contact__container {
    justify-items: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  .home__img {
    right: 10%;
    width: 550px;
    bottom: 10%;
  }

  .project-content {
    height: 1024px;
  }
}

/* blog */
.blog__container {
  display: flex;
}

.blog__area {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog__area:hover {
  background-color: rgb(206, 233, 218);
  transition: all 0.1ms smooth;
}
