body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

.navbar-brand {
  font-family: Lato, sans-serif;
}

#header {
  background: url(https://www.nxworld.net/example/css-scroll-down-button/bg01.jpg) center center / cover no-repeat;
  height: 100vh;
}

img {
  margin-top: 5em;
}

.rounded-circle {
  border: 5px solid rgba(255, 255, 255, 0.7);
}

h2.border-bottom {
  width: 50%;
}

#about {
  background-color: grey;
}

#skills {
  background-color: lightgray;
}

#skills .border-bottom {
  width: 100%;
}

.skill-img {
  width: 6em;
  height: 6em;
  margin: .2em;
}

#portfolio {
  background-color: #ff9800;
}

.card {
  width: 20rem;
  margin: 1em auto;
}

.card a:hover {
  text-decoration: none;
}

.project-1 {
  background-image: linear-gradient(to bottom, #1ff, #00f);
}

.project-2 {
  background-image: linear-gradient(to bottom, #1aa, #fff);
}

.project-3 {
  background-image: linear-gradient(to bottom, #fcd, #81a);
}

.project-4 {
  background-image: linear-gradient(to bottom, #1ff, #697);
}

.project-5 {
  background-image: linear-gradient(to bottom, #1ff, #00f);
}

.project-6 {
  background-image: linear-gradient(to bottom, #1aa, #fff);
}

.project-7 {
  background-image: linear-gradient(to bottom, #fcd, #81a);
}

.project-8 {
  background-image: linear-gradient(to bottom, #1aa, #fff);
}

.project-9 {
  background-image: linear-gradient(to bottom, #1ff, #00f);
}


#freelance {
  background-color: #00bcd4;
  height: 50vh;
}

#freelance .container {
  padding-top: 3.5em;
}

#blog {
  background-color: #697;
}

#contact {
  height: 100vh;
}

#footer {
}

#footer ul {
  list-style: none;
}

/* Scroll to top */
#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 1.5em;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  coursor: pointer;
  padding: .5em;
  border-radius: 10%;
}

#scroll-to-top:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Media Queries */
/* For Landescape / Tablet device */
  @media all and (max-width: 800px) {
  body {
    font-size: 1em;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1em;
  }
    
  h2.border-bottom {
    width: 100%;
  }
    
  h3 {
    font-size: 0.9em;
  }

  .hire-me {
    padding: .4em .7em;
    margin-top: 2em;
  }

  #skills {
    background-color: #fff;
  }

  #contact {
    height: 100%;
  }
  
  .social {
    margin-bottom: 1em;
  }
    
  #scroll-to-top {
    padding: .3em;
  }
}

/* For Mobile device */
@media all and (max-width: 500px) {
  body {
    font-size: 1em;
  }
  
  h1 {
    font-size: 1.2em;
  }
  
  h2 {
    font-size: 1em;
  }
  
  .lead {
    font-size: 0.8em;
    color: #fff;
  }
  
  .card {
    margin-bottom: 1em;
  }
  
  .skill-img {
    width: 4em;
    height: 4em;
    margin: 0 auto;
    padding: 0.3em;
  }
  
  .card .btn-success {
    font-size: 0.9em;
  }
  
  .social {
    margin-bottom: 2em;
  }
}

.scroll a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: opacity .3s;
}

.scroll a:hover {
  opacity: .5;
}

#scroll-down a {
  padding-top: 80px;
}

#scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: scroll 2s infinite;
          animation: scroll 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

#scroll-down a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#scroll-down a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

#scroll-down a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}