/* Base CSS */
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  padding-top: 40px;
}

/* navbar */
.navbar-default {
  background-color: #00BFFF;
}

.navbar-default .navbar-brand {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 200%;
  color: #fa0;
}

.navbar-default .navbar-brand:hover {
  color: #220088;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 130%;
  font-weight: bold;
}

#about, #skills, #contact, #portfolio {
  padding-top: 70px;
}

/* header */
.jumbotron {
  background-image: linear-gradient(to bottom, #11aaff, #30cc8b);
  height: 100vh;
}

.jamal {
  color: #fff;
}

h1 {
  font-weight: 700;
}

.emoji {
  border: none;
  height: 40px;
  width: 40px;
}

header h3 {
  padding-bottom: .5em;
}

header img {
  border: 2px solid #fff;
}

header .btn-primary a {
  font-size: 120%;
  color: #fff;
}

header .btn-primary a:hover {
  text-decoration: none;
}

/* about */
#about {
  background-color: #009688;
  margin: 0 auto;
  margin-top: -30px;
}

.about-h1, .skill-h1, .works-h1 {
  width: 20%;
  margin: 0 auto;
  font-weight: 700;
  color: #fff;
  padding: 10px;
  border-bottom: 2px solid #fff;
}

.about-h3 {
  padding-bottom: 20px;
}

.about-img {
  padding-bottom: 20px;
}

.service-img {
  width: 200px;
  height: 100px;
}

.cgpa {
  font-family: serif;
}


/* skills */
#skills {
  background-color: #2FCB90;
}

.flex-container {
  display: flex;
  padding: 20px 200px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill-img {
  width: 120px;
  height: 120px;
  margin: 1em;
}

.skill-img:hover {
  background-color: rgba(0, 255, 255, 0.2);
}

/* works / portfolio */

#portfolio {
  background-color: #4CAF50;
  padding: 100px 0;
  display: block;
}

#portfolio .port-folio_header {
  text-align: center;
}

#portfolio .port-folio_header h2 {
  font-weight: 700;
  font-size: 3rem;
  color: #353434;
  text-transform: inherit;
}

#portfolio .port-folio_header p {
  padding-top: 20px;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

#portfolio .portfolio_list ul {
  padding: 2rem 0;
}

#portfolio .portfolio_list ul li {
  display: inline-block;
  color: #fff;
  padding-right: 3%;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  margin-right: 6px;
  box-shadow: 2px 3px 3px #484848;
  padding: 10px 14px;
  background: #2f697d;
}

#portfolio .portfolio_list ul span {
  color: #806b7c;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item,
.grid-sizer {
  width: 20%;
}

.grid-item {
  float: left;
  height: 200px;
  box-shadow: 2px 4px 3px -2px #9c9c9c;
}

.grid-item img {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 10px solid #fff;
}

.grid-item--width2 {
  width: 40%;
  height: 200px;
}

.grid-item--width2 img {
  width: 100%;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  .grid-item,
  .grid-sizer {
    width: 20%;
  }

  .grid-item {
    float: left;
    width: 40%;
    height: 200px;
    box-shadow: 2px 4px 3px -2px #9c9c9c;
  }

  .grid-item img {
    width: 100%;
    height: 200px;
  }

  .grid-item--width2 {
    width: 60%;
    height: 200px;
  }

  .grid-item--width2 img {
    width: 100%;
    height: 200px;
  }
}


/* freelance */
#freelance {
  background-color: #5175C0;
  color: #fff;
  padding: 3em;
}

.freelance .btn-block {
  width: 20%;
  margin: 0 auto;
}

.freelance a:hover {
  text-decoration: none;
}

.freelance .btn-block:hover {
  border: 1px solid #fff;
  background-color: #00BFFF;  
}

/* contact */
#contact {
  background-image: url();
  background-color: rgb(0, 172, 237);
  padding: 1em;
}

.contact-info {
  width: 60%;
  margin: 0 auto;
  padding-top: 3em;
}

.contact-heading h2 {
  padding-bottom: 1em;
  border-bottom: 2px solid #fff;
}

.contact-heading h3 {
  padding-bottom: 1em;
}

form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* footer */
footer .container-fluid {
  background-color: #000;
  padding: 1em;
  color: #fff;
}

footer a {
  color: #fff;
}

footer .address, .employee {
  border-right: 3px solid #fff;
}

.address {
  padding-top: .7em;
}

.text {
  font-family: Sans-serif;
  font-size: .8em;
  padding-left: 1em;
}

.social h2 {
  font-weight: bold;
}

.social-icon {
  display: flex;
  justify-content: space-around;
}

.social-icon li {
  list-style-type: none;
}

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  coursor: pointer;
  padding: 15px;
  border-radius: 100%;
}

#scroll-to-top:hover {
  background-color: #555;
}
