.profile {
  font-family: Raleway, Arial, Sans-serif;
  width: 300px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 60px 5px 5px;
  background-color: #fafafa;
  box-shadow: 0 0 2rem #babbbc;
  animation: show-profile 0.5s forwards ease-in-out;
}

@keyframes show-profile {
  0% {
    height: 0;
    width: 0;
  }
}

.profile .photo,
.profile .content {
  box-sizing: border-box;
}

.profile .photo {
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fafafa;
  background-color: #fafafa;
  box-shadow: 0 0 0.5rem #babbbc;
  animation: rotate-photo 0.5s forwards ease-in-out;
  z-index: 1;
}

@keyframes rotate-photo {
  100% {
    transform: rotate(-360deg);
  }
}

.photo img {
  width: 100%;
}

.profile .content {
  padding-top: 2em;
  margin-left: 1em;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.profile .content::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 220px;
  background-color: #007BFF;
  left: 20px;
  top: -10px;
  z-index: -1;
  transform: rotate(-44deg);
}

.profile .content .text {
  margin-top: 20px;
  margin-left: 120px;
}

.profile .content .text h2,
.profile .content .text h4 {
  font-weight: normal;
  margin: 3px 0;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

#profile-name {
  font-size: 1.5em;
}

#profile-occu {
  font-size: 1em;
}

@media screen and (max-width: 340px) {
  .profile {
    width: 90%;
  }
  
  .profile .content {
    width: 96%;
    font-size: 90%;
  }
}