.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag {
  background-color: rgb(77, 46, 46);
  padding: 2px;
  font-weight: 500;
}

.footer {
  border-top: 1px solid #fafafa;
  width: 100%;
}
